#contact {
    display: flex;
}

.sub-section6 {
    flex: 50%;
    width: 100%;
    height: 100%;

}

#section6-1 {
    background-image: url("../images/image1section6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    padding: 30px;
}

#section6-1 h3 {
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.inputs {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    gap: 20px;
}
input{
    flex: 50%;
}
input,
textarea {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

textarea {
    resize: none;
}

#send {
    padding: 10px;
    background-color: #F0C260;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
}










#section6-2 {
    background-image: url("../images/image2section6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@media (max-width:910px) {
    #section6-2 {
        display: none;
    }

    .sub-section6 {
        flex: 100%;

    }
}


@media (max-width:485px) {
    .inputs{
        flex-direction: column;
    }
}